@model ErrorViewModel
@{
    ViewData["Title"] = "Error de modelo";
}

<div>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <div>
        <strong>Request ID:</strong> @Model.RequestId
    </div>
    <div>
        <strong>Show Request ID:</strong> @Model.ShowRequestId
    </div>
</div>
