@{
    Layout = null;
    ViewData["Title"] = "Validacion Usuario";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiarioPagosApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiarioPagosApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-8 col-lg-8">
                    <div class="text-center">
                        <h1>Tu usuario ha sido creado correctamente, has click aqui para iniciar sesion</h1>
                        <a asp-action="UserLogin" asp-controller="User" class="btn btn-primary">Iniciar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

