@model UserLoginViewModel
@{
    ViewData["Title"] = "Iniciar Secion";
}

<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8 col-lg-8">
            <div class="text-center">
                <h1>Iniciar Sesion</h1>
            </div>
            <form asp-action="UserLogin" class="border p-5 bg-light rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Campo TotalSale-->
                <div class="form-group mb-3">
                    <label asp-for="UserEmail" class="form-label"></label>
                    <input asp-for="UserEmail" class="form-control" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <!--Campo TotalSale-->
                <div class="form-group mb-3">
                    <label asp-for="PassWord" class="form-label"></label>
                    <input asp-for="PassWord" class="form-control" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    <a class="btn btn-success" asp-action="UserRegistration">Crear una cuenta</a>
                </div>
            </form>
        </div>
    </div>
</div>
