@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listado de productos";
}

@if (Model == null || !Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="text-center mb-5">
                <h1>No hay Datos para Mostrar</h1>
                <a asp-action="CreateProduct" class="btn btn-primary mb-5"><i class="bi bi-cloud-plus-fill"></i> Crear Producto</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1><i class="bi bi-box-seam-fill"></i> Listado de Productos </h1>
    </div>

    <a asp-action="CreateProduct" class="btn btn-primary mb-5"><i class="bi bi-cloud-plus-fill"></i> Crear Producto</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><i class="bi bi-box-seam-fill"></i> Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td style="list-style: none">
                        <a asp-action="EditProduct" asp-route-id="@product.ProductId" class="btn btn-secondary">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">
                            <li class="bi bi-trash-fill"></li>
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>

}
